Repository openstack/openstack-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Path conditions:
  openstack-ansible-deploy-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-varstest-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-linters-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-debian-buster: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_octavia-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-translations-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-debian-buster: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-debian-buster: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini

Do not run dstat by default
  scripts/scripts-library.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Unset OSA-defined variables for bootstrap
  scripts/bootstrap-ansible.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Install ZFS packages for bootstrap-host if needed
  tests/roles/bootstrap-host/tasks/prepare_data_disk.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Define name for all collections in a-r-r
  ansible-collection-requirements.yml
  scripts/get-ansible-collection-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Prevent bootstrap failure when all roles/collections are overriden
  scripts/get-ansible-collection-requirements.yml
  scripts/get-ansible-role-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Start 2023.1 Antelope development
  ansible-role-requirements.yml
  doc/source/index.rst
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  scripts/run-upgrade.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Remove ANSIBLE_ACTION_PLUGINS override
  scripts/openstack-ansible.rc
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Update tox.ini
  doc/requirements.txt
  tox.ini
Due: build-openstack-deploy-guide, promote-deploy-guide

[doc] Add example on how to provision LXC bridges with OSA
  doc/source/user/network-arch/example.rst
Due: none

[doc] Fix document on dymanic_inventory tox usage
  doc/source/reference/inventory/generate-inventory.rst
Due: none

Set defaults for octavia-ovn-provider driver
  playbooks/defaults/distro_install.yml
  playbooks/defaults/source_install.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc.po
  doc/source/locale/en_GB/LC_MESSAGES/doc.po
  doc/source/locale/es/LC_MESSAGES/doc.po
  doc/source/locale/fr/LC_MESSAGES/doc.po
  doc/source/locale/id/LC_MESSAGES/doc.po
  doc/source/locale/ru/LC_MESSAGES/doc.po
Due: none

Add gate_log_requirements function
  scripts/scripts-library.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump rabbitmq role SHA
  ansible-role-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Add reminder to contributor docs to update amphora/IPA images
  doc/source/contributor/periodic-work.rst
Due: none

Sync ZFS pool names
  tests/roles/bootstrap-host/tasks/prepare_data_disk.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

[doc] Update repositiories for mirroring
  doc/source/user/limited-connectivity/index.rst
Due: none

Remove "warn" parameter from command module
  tests/roles/bootstrap-host/tasks/prepare_networking.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Correct series names for documentation
  deploy-guide/source/conf.py
  doc/source/conf.py
Due: build-openstack-deploy-guide, promote-deploy-guide

Fix comment typo in nova install playbook
  playbooks/os-nova-install.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Deploy 3 keystone containers for infra CI jobs
  etc/openstack_deploy/openstack_user_config.yml.aio.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump pip and wheel to latest versions
  global-requirement-pins.txt
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Block unauthenticated Ironic API endpoints from untrusted networks
  inventory/group_vars/haproxy/haproxy.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Increase thread/process to 2 for keystone
  tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Restore dynamic_inventory unit testing
  etc/openstack_deploy/openstack_user_config.yml.aio
  etc/openstack_deploy/openstack_user_config.yml.example
  osa_toolkit/tools.py
  test-requirements.txt
  tests/test_filesystem.py
  tests/test_inventory.py
  tests/test_manage.py
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Bump OpenStack-Ansible Xena
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  releasenotes/notes/erlang_24_wildcard-f98bea4c7df0dc23.yaml
  releasenotes/notes/octavia_provider_network_mtu-parameter-62978008dfe0882e.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide
