Repository openstack/openstack-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

openstack-ansible-deploy-aio:
  parent: base
  description: 'Run functional tests for an OpenStack-Ansible project.
  
    Uses the gate-check-commit.sh script, running a default
  
    aio deploy.
  
    '
  required-projects:
  - name: openstack/openstack-ansible
  - name: openstack/ansible-hardening
  ...

openstack-ansible-varstest-aio:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-linters-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic
  branches: ^(devel|master)$
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: devel
  vars:
    ansible_package: file://{{ ansible_user_dir }}/src/github.com/ansible/ansible

openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic
  branches: ^(devel|master)$
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.7
  vars:
    ansible_package: file://{{ ansible_user_dir }}/src/github.com/ansible/ansible

openstack-ansible-deploy-aio_metal-debian-stable:
  parent: openstack-ansible-deploy-aio
  nodeset: debian-stable

openstack-ansible-deploy-aio_lxc-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_ceph-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_proxy-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_metal-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-upgrade-aio_lxc-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic
  timeout: 10800

openstack-ansible-deploy-aio_nspawn-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-upgrade-aio_ceph-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic
  timeout: 10800

openstack-ansible-deploy-aio_octavia-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

openstack-ansible-deploy-translations-ubuntu-bionic:
  parent: openstack-ansible-deploy-aio
  nodeset: ubuntu-bionic

Deprecate OVN-related haproxy configuration
  inventory/group_vars/haproxy/haproxy.yml
  releasenotes/notes/deprecate-ovn-haproxy-vips-061652cd82342819.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Increase Apache thread limit for keystone
  tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Backported fixes for healthcheck playbooks
  ansible-collection-requirements.yml
  playbooks/healthcheck-infrastructure.yml
  playbooks/healthcheck-openstack.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Remove provider_networks from neutron playbook
  playbooks/common-playbooks/neutron.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Include openstack_services for murano role
  playbooks/os-murano-install.yml
  tests/roles/bootstrap-host/templates/user_variables_murano.yml.j2
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Do not upgrade packages without upgrades
  doc/source/admin/upgrades/major-upgrades.rst
  doc/source/admin/upgrades/minor-upgrades.rst
  inventory/group_vars/all/all.yml
  scripts/run-upgrade.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Update functional test requirements url
  tox.ini
Due: build-openstack-deploy-guide, promote-deploy-guide

Set default for octavia_barbican_enabled
  inventory/group_vars/octavia_all.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Pin uWSGI version
  global-requirement-pins.txt
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Globally define systemd_lock_dir
  inventory/group_vars/all/all.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Configure HAProxy to check Horizon's login page
  inventory/group_vars/haproxy/haproxy.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add config_tempalte to collections
  ansible-collection-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add security headers to HAProxy Horizon service
  inventory/group_vars/haproxy/haproxy.yml
  releasenotes/notes/security-headers-87de60203899fdbb.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Ensure hardware facts are gathered for galera hosts.
  playbooks/galera-install.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Fix error in dynamic-address-fact task
  playbooks/common-tasks/dynamic-address-fact.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

From now on, we will change default values for database connection pooling in each role
  releasenotes/notes/db-pooling-7c42f3aed39d5fc9.yaml
Due: none

Update ceph-ansible release to pacific
  inventory/group_vars/all/ceph.yml
  releasenotes/notes/ceph_pacific-9952da2810a737c1.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Do not fail when nova console is disabled
  inventory/group_vars/all/nova.yml
  inventory/group_vars/haproxy/haproxy.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Reduce ceph memory overhead for AIO by setting is_hci to true
  tests/roles/bootstrap-host/templates/user_variables_ceph.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Reduce manila CI check memory consumption
  etc/openstack_deploy/conf.d/ceph.yml.aio
  tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2
  tests/roles/bootstrap-host/templates/user_variables_manila.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump OpenStack-Ansible Wallaby
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  releasenotes/notes/haproxy_frontend_raw-0811d5d445a66b41.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Bump OpenStack-Ansible Victoria
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  releasenotes/notes/haproxy_frontend_raw-0811d5d445a66b41.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Reduce neutron WSGI workers for CI
  tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump OpenStack-Ansible Ussuri
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Add documentation of security improvements made to Openstack Ansible
  doc/source/user/security/index.rst
  doc/source/user/security/security-headers.rst
  doc/source/user/security/security-txt.rst
  doc/source/user/security/ssl-certificates.rst
  inventory/group_vars/haproxy/haproxy.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Remove retrievement of config_tempalte as a module
  ansible-role-requirements.yml
  scripts/openstack-ansible.rc
  tests/roles/bootstrap-host/tasks/prepare_aio_config.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Add nfs deployment scenario
  tests/roles/bootstrap-host/defaults/main.yml
  tests/roles/bootstrap-host/tasks/main.yml
  tests/roles/bootstrap-host/tasks/prepare_aio_config.yml
  tests/roles/bootstrap-host/tasks/prepare_nfs.yml
  tests/roles/bootstrap-host/templates/user_variables_nfs.yml.j2
  tests/roles/bootstrap-host/vars/debian.yml
  tests/roles/bootstrap-host/vars/redhat-8.yml
  tests/roles/bootstrap-host/vars/redhat.yml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Update openstack-hosts version
  ansible-role-requirements.yml
  releasenotes/notes/ubuntu_focal_distro_release-f921f59a0d7ff998.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Update openstack-hosts version
  ansible-role-requirements.yml
  releasenotes/notes/ubuntu_focal_distro_release-3b3ea63c0f81a495.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Freeze roles for Xena RC1
  ansible-role-requirements.yml
  doc/source/index.rst
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  playbooks/os-tempest-install.yml
  releasenotes/notes/VNC-proxy-security-520e6dac6bad0018.yaml
  releasenotes/notes/db-pooling-14f33d291a246203.yaml
  releasenotes/notes/db-pooling-15b6222fedc2cb8c.yaml
  releasenotes/notes/db-pooling-91ac966776313feb.yaml
  releasenotes/notes/db-pooling-cec321004b4a8a79.yaml
  releasenotes/notes/db-pooling-f078d5d7668377b2.yaml
  releasenotes/notes/deprecate_systemd_lock_path-fba3aff8b1b4468d.yaml
  releasenotes/notes/galera_pki-2d6d77a86e8475cd.yaml
  releasenotes/notes/haproxy_frontend_raw-0811d5d445a66b41.yaml
  releasenotes/notes/horizon_policy_overrides-ca84702ef993ea92.yaml
  releasenotes/notes/keystone_drop_nginx-5e7791d22f0be48a.yaml
  releasenotes/notes/networking-baremetal-plugin-agent-support-cfb06fa4faf85bdc.yaml
  releasenotes/notes/nova_mdev_types-df92fb3d1ce339ec.yaml
  releasenotes/notes/os-keystone-oidc-scope-spelling-fix-3051b95adeb37901.yaml
  releasenotes/notes/os-upgrade-requirements-fix-bcc81b049339e9b5.yaml
  releasenotes/notes/systemd_run_lock_dir-5b4b0cad9c860ce0.yaml
  releasenotes/notes/tls-migration-3ed93cc04dab5eee.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Set galera to use TLS for connections by default
  inventory/group_vars/all/infra.yml
  releasenotes/notes/galera_use_ssl-e906b5ba8b2e62ef.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Update .gitreview for stable/xena
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: build-openstack-deploy-guide, promote-deploy-guide

Path conditions:
  openstack-ansible-deploy-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-varstest-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-linters-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_octavia-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-translations-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
