Repository openstack/openstack-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Path conditions:
  openstack-ansible-deploy-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-varstest-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-linters-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_octavia-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-translations-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini

Remove localhost references from galera docs following bind change
  doc/source/admin/maintenance-tasks/ansible-modules.rst
  doc/source/admin/maintenance-tasks/galera.rst
Due: none

Fix lib/modules path for focal release
  playbooks/common-playbooks/neutron.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add to bind-to-mgmt upgrade release note for older deployments
  releasenotes/notes/bind-to-mgmt-91815a7c0ee01de1.yaml
Due: none

Install rsync for CentOS bootstrap
  scripts/bootstrap-ansible.sh
  scripts/scripts-library.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump ansible-base and OpenStack collections
  ansible-collection-requirements.yml
  scripts/bootstrap-ansible.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Update Gnocchi with Ceph and Redis documentation.
  doc/source/user/prod/gnocchi_redis.rst
Due: none

Bump SHAs for stable/ussuri
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  releasenotes/notes/haproxy-hatop-df115640f77d7e3d.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Bump SHAs for stable/train
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-reference.po
  doc/source/locale/de/LC_MESSAGES/doc-user.po
  doc/source/locale/de/LC_MESSAGES/doc.po
  doc/source/locale/en_GB/LC_MESSAGES/doc.po
  doc/source/locale/fr/LC_MESSAGES/doc.po
  doc/source/locale/id/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-reference.po
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  doc/source/locale/id/LC_MESSAGES/doc.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc.po
  doc/source/locale/ru/LC_MESSAGES/doc-user.po
  doc/source/locale/ru/LC_MESSAGES/doc.po
  releasenotes/source/locale/id/LC_MESSAGES/releasenotes.po
Due: none

Disable ssl for rabbitmq
  inventory/group_vars/all/infra.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Ensure kuryr repo is available within CI images
  playbooks/defaults/repo_packages/openstack_services.yml
  tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2
  tests/roles/bootstrap-host/templates/user_variables_zun.yml.j2
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Increase git clone depth from 10 to 20
  scripts/get-ansible-role-requirements.yml
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Return centos-8 jobs to voting
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add barbican-ui repo package and zuul repo
  playbooks/defaults/repo_packages/openstack_services.yml
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

[doc] Cover aio usecase when default route not set
  doc/source/user/aio/quickstart.rst
Due: none

Add haproxy_*_service variables
  inventory/group_vars/haproxy/haproxy.yml
  releasenotes/notes/haproxy_service_variables-ffd7958b20dfe92e.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Do not prepare upstream repos for distro jobs
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump SHAs for stable/victoria
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Stop installing client packages for ansible venv
  playbooks/defaults/distro_install.yml
  requirements.txt
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Use zuul provided requirements repo during bootstrap-ansible.sh
  scripts/bootstrap-ansible.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add reference to netplan config example
  doc/source/user/network-arch/example.rst
Due: none

Add documentation warning about Centos-8 end-of-life
  doc/source/user/aio/quickstart.rst
Due: none

Do not use tempestconf for ironic role tests
  tests/roles/bootstrap-host/templates/user_variables_ironic.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add hosts integrated tests
  playbooks/healthcheck-hosts.yml
  scripts/gate-check-commit.sh
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

[doc] Add ceph_mons note
  doc/source/user/ceph/full-deploy.rst
Due: none

Remove version cap on PrettyTable
  requirements.txt
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Make requirements repo available during distro CI builds
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Update pip/setuptools/wheel to latest version
  global-requirement-pins.txt
  test-requirements.txt
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Use Tempest for dashboard test instead of tempest-horizon
  inventory/group_vars/utility_all.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump SHAs for stable/ussuri
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Do not apply force flag to git.reset
  playbooks/library/git_requirements.py
  scripts/get-ansible-role-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Use ceph package mirror during CI jobs
  tests/roles/bootstrap-host/tasks/prepare_aio_config.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

[doc] Fix Docker latest_tag parser
  deploy-guide/source/deploymenthost.rst
Due: build-openstack-deploy-guide, promote-deploy-guide

Trigger deploy guide rebuild on a-r-r update
  zuul.d/project.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Collect contents of /etc/dnf from CI jobs
  scripts/log-collect.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15
