Repository openstack/openstack-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Path conditions:
  openstack-ansible-deploy-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-varstest-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-linters-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-debian-buster: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-focal: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_octavia-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-translations-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-debian-buster: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-debian-buster: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini

Add Glance tempest plugin repo to testing SHA pins list
  playbooks/defaults/repo_packages/openstack_testing.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Skip haproxy with setup-infrastructure for upgrades
  doc/source/admin/upgrades/major-upgrades.rst
  scripts/run-upgrade.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump OpenStack-Ansible Yoga
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  releasenotes/notes/octavia_provider_network_mtu-parameter-62978008dfe0882e.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Add Octavia OVN Provider repo requirements
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Add tempest and tempest plugins to required jobs for source deploys
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

[doc] Fix storage architecture links
  doc/source/reference/architecture/storage-arch.rst
Due: none

Bump OpenStack-Ansible Zed
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  releasenotes/notes/ovn_dhcp_metadata_agents-851b42a6923c811f.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Fix bump of github repos
  ansible-role-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Ensure management_address is used instead of ansible_host
  inventory/group_vars/all/infra.yml
  inventory/group_vars/galera_all.yml
  inventory/group_vars/memcached.yml
  playbooks/common-tasks/unbound-clients.yml
  playbooks/healthcheck-infrastructure.yml
  scripts/upgrade-utilities/galera-cluster-rolling-restart.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump OSA for stable/zed to cover CVE-2022-47951
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  releasenotes/notes/ossa-2023-002-0ee5aa141d4ee69d.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Bump OSA for stable/xena to cover CVE-2022-47951
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  releasenotes/notes/ossa-2023-002-054d135e3066cca8.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-admin.po
  doc/source/locale/de/LC_MESSAGES/doc-user.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-admin.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc.po
  doc/source/locale/id/LC_MESSAGES/doc-admin.po
  doc/source/locale/id/LC_MESSAGES/doc-user.po
  doc/source/locale/ru/LC_MESSAGES/doc-user.po
Due: none

Bump OSA for stable/yoga to cover CVE-2022-47951
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  releasenotes/notes/erlang_cve_37026-bdf6304e7772cf29.yaml
  releasenotes/notes/ossa-2023-002-ac8462ef3a5702ad.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Allow git servers for openstack services and tempest to be overridden
  inventory/group_vars/all/all.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  releasenotes/notes/service_repo_base_urls-8f85bcee712e5d77.yaml
  scripts/get-ansible-role-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Install curl by defining binary that is provided
  scripts/bootstrap-ansible.sh
  tests/roles/bootstrap-host/vars/redhat-8.yml
  tests/roles/bootstrap-host/vars/redhat-9.yml
  tests/roles/bootstrap-host/vars/redhat.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

[doc] Update Ubuntu 22.04 support status
  deploy-guide/source/overview-requirements.rst
  deploy-guide/source/targethosts-prepare.rst
  doc/source/admin/upgrades/os-compatibility-matrix.html
Due: build-openstack-deploy-guide, promote-deploy-guide

Update documentation for LXC/metal and LXB/OVS/OVN
  doc/source/reference/architecture/index.rst
  doc/source/reference/architecture/metal-networking.rst
  doc/source/reference/figures/networkarch-bare-external-example.png
  doc/source/reference/figures/networkarch-bare-external.png
  doc/source/reference/figures/networkarch-container-external-example.png
  doc/source/reference/figures/networkarch-container-external.drawio.png
  doc/source/reference/figures/networkarch-container-external.png
  doc/source/reference/figures/networkarch-metal-external.drawio.png
  doc/source/reference/figures/networkcomponents.drawio.png
  doc/source/reference/figures/networkcomponents.png
  doc/source/reference/figures/networking-compute-nobridge.png
  doc/source/reference/figures/networking-compute.png
  doc/source/reference/figures/networking-linuxbridge-cn.drawio.png
  doc/source/reference/figures/networking-linuxbridge-nn.drawio.png
  doc/source/reference/figures/networking-neutronagents-nobridge.png
  doc/source/reference/figures/networking-neutronagents.png
  doc/source/reference/figures/networking-openvswitch-cn.drawio.png
  doc/source/reference/figures/networking-openvswitch-nn.drawio.png
  doc/source/reference/figures/networking-ovn-cn.drawio.png
  doc/source/reference/figures/networking-ovn-nn.drawio.png
Due: none

Do not use openstack.osa.linear strategy plugin
  scripts/openstack-ansible.rc
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Add validation zuul job for hosts setup
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Remove support for calico ml2 driver.
  ansible-role-requirements.yml
  doc/source/contributor/testing.rst
  etc/openstack_deploy/conf.d/etcd.yml.aio
  etc/openstack_deploy/conf.d/etcd.yml.example
  etc/openstack_deploy/env.d/aio_metal.yml.example
  etc/openstack_deploy/env.d/calico.yml.example
  inventory/env.d/etcd.yml
  inventory/group_vars/haproxy/haproxy.yml
  inventory/group_vars/neutron_calico_dhcp_agent.yml
  inventory/inventory.ini
  playbooks/common-playbooks/neutron.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/etcd-install.yml
  playbooks/healthcheck-infrastructure.yml
  playbooks/setup-infrastructure.yml
  releasenotes/notes/remove_calico-a90821bdd1fc0979.yaml
  scripts/log-collect.sh
  tests/roles/bootstrap-host/tasks/prepare_aio_config.yml
  tests/roles/bootstrap-host/templates/user_variables_calico.yml.j2
  tests/roles/bootstrap-host/vars/main.yml
  tests/test_inventory.py
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Disable fact variables
  inventory/group_vars/all/nova.yml
  inventory/group_vars/repo_all.yml
  scripts/openstack-ansible.rc
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Do not run dstat by default
  scripts/scripts-library.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump OpenStack-Ansible master
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Fix comment typo in nova install playbook
  playbooks/os-nova-install.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Add releasenote for ANSIBLE_INJECT_FACT_VARS defaulting to false
  releasenotes/notes/disable-fact-vars-d792e90de7d79851.yaml
Due: none

Bump OpenStack-Ansible Zed
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Bump OpenStack-Ansible Yoga
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
  releasenotes/notes/erlang-25-758e2cba9f9852c5.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide

Backport openstack_testing from Yoga
  playbooks/defaults/repo_packages/openstack_testing.yml
  playbooks/os-tempest-install.yml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Switch proxy job from focal to jammy
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump ansible to latest release of 2.13
  scripts/bootstrap-ansible.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Remove nova-scheduler from ironic compute container_skel
  inventory/env.d/ironic.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster

Bump OpenStack-Ansible Xena
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  releasenotes/notes/erlang_25-e793db97d730452f.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-buster, openstack-ansible-deploy-aio_lxc-ubuntu-focal, openstack-ansible-deploy-aio_ceph-ubuntu-focal, openstack-ansible-deploy-aio_proxy-ubuntu-focal, openstack-ansible-deploy-aio_metal-ubuntu-focal, openstack-ansible-deploy-aio_distro_metal-ubuntu-focal, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-upgrade-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_metal-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-buster, openstack-ansible-deploy-aio_lxc-debian-buster, build-openstack-deploy-guide, promote-deploy-guide
