Repository openstack/openstack-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Path conditions:
  openstack-ansible-deploy-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-varstest-aio: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-linters-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_proxy-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_octavia-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-translations-ubuntu-bionic: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_lxc-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-upgrade-aio_ceph-centos-7: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-debian-stable: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_lxc-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_lxc-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_ceph-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_ceph-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_telemetry_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_distro_metal-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  openstack-ansible-deploy-aio_nspawn-opensuse-15: unless all of: ^\.git.*, ^.*\.(example|md|rst)$, ^deploy-guide/.*, ^doc/.*, ^releasenotes/.*, ^setup\.(cfg|py)$, ^tox.ini$, ^Vagrantfile
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, ansible-role-requirements.yml, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini

Fix git SHA for openstack_hosts role
  ansible-role-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Do not install extra repos with the zuul configure-mirrors role
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add test of used SHAs
  scripts/bootstrap-ansible.sh
  scripts/gate-check-commit.sh
  tests/test-upstream-shas.yml
  zuul.d/jobs.yaml
  zuul.d/playbooks/pre-osa-aio.yml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add infra zuul job with reduced required_projects
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add hosts zuul job with reduced required_projects
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

[doc] Add note regarding 127.0.1.1 removal
  deploy-guide/source/targethosts-prepare.rst
Due: build-openstack-deploy-guide, promote-deploy-guide

Improve bump patch readability
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Add variable to bootstrap role to describe the test job action
  tests/roles/bootstrap-host/defaults/main.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

In AIO and CI set the internal vip to https only for 'deploy' actions.
  tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

All of the deployment scenarios require keystone
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump SHAs for Wallaby
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Bump SHAs for Victoria
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Connect openstack_pki_regen_ca variable to pki role
  playbooks/certificate-authority.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump ansible.netcommon version
  ansible-collection-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Install ansible.netcommon from galaxy
  ansible-collection-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump SHAs for Xena
  ansible-role-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Improve bump patch readability
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump SHAs for master
  ansible-collection-requirements.yml
  playbooks/defaults/repo_packages/gnocchi.yml
  playbooks/defaults/repo_packages/nova_consoles.yml
  playbooks/defaults/repo_packages/openstack_services.yml
  playbooks/defaults/repo_packages/openstack_testing.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add support for running on Rocky Linux
  deploy-guide/source/deploymenthost.rst
  deploy-guide/source/overview-requirements.rst
  deploy-guide/source/targethosts-prepare.rst
  doc/source/user/aio/quickstart.rst
  playbooks/openstack-hosts-setup.yml
  run_tests.sh
  scripts/bootstrap-ansible.sh
  scripts/scripts-library.sh
  tests/roles/bootstrap-host/tasks/check-requirements.yml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15, build-openstack-deploy-guide, promote-deploy-guide

Add ansible.utils collectoin requirement
  ansible-collection-requirements.yml
  inventory/group_vars/neutron_calico_dhcp_agent.yml
  playbooks/healthcheck-hosts.yml
  tests/roles/bootstrap-host/templates/user_variables_ceph.yml.j2
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Use the short form nodeset definition once it's merged upstream
  zuul.d/jobs.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add galera monitoring user to secrets
  etc/openstack_deploy/user_secrets.yml
  releasenotes/notes/galera_monitoring_user_password-ac8b1c1ef7644e73.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Add mysql directory for logging
  scripts/log-collect.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Fix extra facts gathering with tags
  playbooks/ceph-install.yml
  playbooks/galera-install.yml
  playbooks/haproxy-install.yml
  playbooks/os-adjutant-install.yml
  playbooks/os-aodh-install.yml
  playbooks/os-barbican-install.yml
  playbooks/os-blazar-install.yml
  playbooks/os-ceilometer-install.yml
  playbooks/os-cloudkitty-install.yml
  playbooks/os-designate-install.yml
  playbooks/os-glance-install.yml
  playbooks/os-gnocchi-install.yml
  playbooks/os-heat-install.yml
  playbooks/os-horizon-install.yml
  playbooks/os-ironic-install.yml
  playbooks/os-keystone-install.yml
  playbooks/os-magnum-install.yml
  playbooks/os-manila-install.yml
  playbooks/os-masakari-install.yml
  playbooks/os-mistral-install.yml
  playbooks/os-murano-install.yml
  playbooks/os-octavia-install.yml
  playbooks/os-placement-install.yml
  playbooks/os-sahara-install.yml
  playbooks/os-senlin-install.yml
  playbooks/os-swift-install.yml
  playbooks/os-tacker-install.yml
  playbooks/os-tempest-install.yml
  playbooks/os-trove-install.yml
  playbooks/os-zun-install.yml
  playbooks/security-hardening.yml
  releasenotes/notes/facts_gathering_tags-69babd74af6e7470.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump requirements SHA to pin pypowervm to a working version
  playbooks/defaults/repo_packages/openstack_services.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Remove peridic jobs from stable/train branch
  zuul.d/project-templates.yaml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Update ansible-core to 2.12.4
  scripts/bootstrap-ansible.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Bump versions of ansible collections
  ansible-collection-requirements.yml
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15

Generate SSH authorities during upgrade independently
  scripts/run-upgrade.sh
Due: openstack-ansible-deploy-aio, openstack-ansible-varstest-aio, openstack-ansible-linters-ubuntu-bionic, openstack-ansible-deploy_with_ansible_devel-aio-ubuntu-bionic, openstack-ansible-deploy_with_ansible_next-aio-ubuntu-bionic, openstack-ansible-deploy-aio_metal-debian-stable, openstack-ansible-deploy-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_distro_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_proxy-ubuntu-bionic, openstack-ansible-deploy-aio_distro_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_metal-ubuntu-bionic, openstack-ansible-deploy-aio_telemetry_metal-ubuntu-bionic, openstack-ansible-deploy-aio_distro_metal-ubuntu-bionic, openstack-ansible-upgrade-aio_lxc-ubuntu-bionic, openstack-ansible-deploy-aio_nspawn-ubuntu-bionic, openstack-ansible-upgrade-aio_ceph-ubuntu-bionic, openstack-ansible-deploy-aio_octavia-ubuntu-bionic, openstack-ansible-deploy-aio_qdrouterd-ubuntu-bionic, openstack-ansible-deploy-translations-ubuntu-bionic, openstack-ansible-deploy-aio_lxc-centos-7, openstack-ansible-deploy-aio_distro_lxc-centos-7, openstack-ansible-deploy-aio_ceph-centos-7, openstack-ansible-deploy-aio_distro_ceph-centos-7, openstack-ansible-upgrade-aio_lxc-centos-7, openstack-ansible-deploy-aio_metal-centos-7, openstack-ansible-deploy-aio_telemetry_metal-centos-7, openstack-ansible-deploy-aio_distro_metal-centos-7, openstack-ansible-deploy-aio_nspawn-centos-7, openstack-ansible-upgrade-aio_ceph-centos-7, openstack-ansible-deploy-aio_telemetry_metal-debian-stable, openstack-ansible-deploy-aio_lxc-debian-stable, openstack-ansible-deploy-aio_lxc-opensuse-15, openstack-ansible-deploy-aio_distro_lxc-opensuse-15, openstack-ansible-deploy-aio_ceph-opensuse-15, openstack-ansible-deploy-aio_distro_ceph-opensuse-15, openstack-ansible-deploy-aio_metal-opensuse-15, openstack-ansible-deploy-aio_telemetry_metal-opensuse-15, openstack-ansible-deploy-aio_distro_metal-opensuse-15, openstack-ansible-deploy-aio_nspawn-opensuse-15
